<section>
     
      
    <footer class="bg-dark text-white py-5">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h5>Quick Links</h5>
                  <ul class="list-unstyled">
                      <li><a class="nav-link" href="../teams">Teams</a></li>
                      <li><a class="nav-link" href="../about">About</a></li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <h5>Resources</h5>
                  <ul class="list-unstyled">
                      
                      <li><a class="nav-link" href="../about">Contact Us</a></li>
                  </ul>
              </div>
              <div class="col-md-4">
                  <h5>Follow Us</h5>
                  <a href="https://www.facebook.com/yplt10" target="_blank" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                  <a href="https://www.instagram.com/yellam_premier_league" target="_blank" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                  <a href="https://www.youtube.com/@yellam.premier.league" target="_blank" class="text-white me-3"><i class="fab fa-youtube"></i></a>
              </div>
              <p style="text-align: center;">Copyright © YPL 2023 All Rights Reserved.</p>
      <p style="text-align: center;">Site Developed and Maintained By <a class="nav-link" href="https://webflexi.tech">Webflexi Technologies</a></p>
          </div>
      </div>
  </footer>

  </section>