<%- include('../partials/headlinks') %>

<!-- Navbar Section Start -->
    <%- include('../partials/navbar') %>
<!-- NAvbar Section End -->
<!-- About Content Start -->
<section id="aboutform">
    <section>
      <div class="card text-center">
        <div class="card-body">
          <div class="row">
            <h1 style="margin-bottom: 30px;">About Us</h1>
            <h2 style="margin-bottom: 13px;">Yellam Premier League</h2>
            <p><i class="fa-solid fa-location-dot"></i> CH52+9PW, YPL-Yellam Foundation, Vikram Nagar, Latur, Maharashtra, India 413531</p>
            <a class="nav-link" href="mailto:ypladmin@yplt10.com"><p><i class="fa-solid fa-envelope">&nbsp;  </i> ypladmin@yplt10.com</p></a>
          </div>
        </div>
      </div>
    </section>
  </section>
<!-- About Content End -->


<!--Footer Section -->
<%- include('../partials/footer') %>

<!-- Links Of Javascript  Required -->

<%- include('../partials/footlinks') %>