<%- include('../partials/headlinks') %>

<!-- Navbar Section Start -->
    <%- include('../partials/navbar') %>
<!-- NAvbar Section End -->

<!-- Error Page Content Start -->
<section calss="Teams-section-23">
    <section style="height: 100vh; padding-top: 30%;">
        <h1 class="text-center">Page Not Found</h1>
  
      </section>
  

</section>
<!-- Error Page Content End -->


<!--Footer Section -->
<%- include('../partials/footer') %>

<!-- Links Of Javascript  Required -->

<%- include('../partials/footlinks') %>