<%- include('../partials/headlinks') %>

<!-- Navbar Section Start -->
    <%- include('../partials/navbar') %>
<!-- NAvbar Section End -->

<!-- Balaji-Star Content Start -->
<section calss="Teams-section-23">
    <section id="teams-page-section">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card">
              <a href="../balaji-star"><img src="https://i.ibb.co/BfKX4Gw/Balaji-stars.png" class="card-img-top" alt="..."></a>
            </div>
          </div>
          <div class="col">
            <div class="card">
             <a href="../bn-gavare"><img src="https://i.ibb.co/mcXZSrF/Bn-Gavare.png" class="card-img-top" alt="..."></a>
            </div>
          </div>
          <div class="col">
            <div class="card">
             <a href="../laxmiraman"> <img src="https://i.ibb.co/mvTSqh2/Laxmiraman-Strikers.png" class="card-img-top" alt="..."></a>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <a href="../mauli"><img src="https://i.ibb.co/h2k165f/Mauli-yodhas.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>

          <!--  -->

          <div class="col">
            <div class="card">
             <a href="../onenonly"> <img src="https://i.ibb.co/XtWtp6L/OneNOnly.png" class="card-img-top" alt="..."></a>
            </div>
          </div>
          <div class="col">
            <div class="card">
             <a href="../rajmudra"> <img src="https://i.ibb.co/h8HJP7T/Rajmudra-royals.png" class="card-img-top" alt="..."></a>
            </div>
          </div>
          <div class="col">
            <div class="card">
             <a href="../rokdeshwar"> <img src="https://i.ibb.co/tZBqX9R/rokdeshwar-dev.png" class="card-img-top" alt="..."></a>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <a href="../sadgurusai"><img src="https://i.ibb.co/cr0j7pR/sadgurusai-spart.png" class="card-img-top" alt="..."></a>
            </div>
          </div>

          <!-- \\\\\\\\\\\\\\\\\\\\\ -->
          <div class="col">
            <div class="card">
              <a href="../vaishnawi"><img src="https://i.ibb.co/MBMrVcD/vaishnavi-borw.jpg" class="card-img-top" alt="..."></a>
            </div>
          </div>
          <div class="col">
            <div class="card">
             <a href="../wada"> <img src="https://i.ibb.co/YRyN8rk/Wada-Warriors.png" class="card-img-top" alt="..."></a>
            </div>
          </div>


        </div>
        <!-- ///////// -->

        
      </section>
</section>
<!-- Balaji-Star Content End -->


<!--Footer Section -->
<%- include('../partials/footer') %>

<!-- Links Of Javascript  Required -->

<%- include('../partials/footlinks') %>