<%- include('../partials/headlinks') %>

<!-- Navbar Section Start -->
    <%- include('../partials/navbar') %>
<!-- NAvbar Section End -->

<!-- Balaji-Star Content Start -->
<section calss="Teams-section-23">
    <section class="mapdscl">
        <div class="map-responsive">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3785.8034493663977!2d76.55577509999999!3d18.401794499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcf8371f1e54ad7%3A0x3a49f69e46bcb2d1!2sDayanand%20Cricket%20Ground!5e0!3m2!1sen!2sin!4v1703519921682!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
</section>
</section>
<!-- Balaji-Star Content End -->


<!--Footer Section -->
<%- include('../partials/footer') %>

<!-- Links Of Javascript  Required -->

<%- include('../partials/footlinks') %>